NET "clk" LOC = T9;
NET "clk" IOSTANDARD = LVCMOS33;

NET "rst" LOC = M14;
NET "rst" IOSTANDARD = LVCMOS33;

NET "tx_start" LOC = M13;
NET "tx_start" IOSTANDARD = LVCMOS33;

NET "tx" LOC = R13;
NET "tx" IOSTANDARD = LVCMOS33;

NET "rx" LOC = T13;
NET "rx" IOSTANDARD = LVCMOS33;

NET "tx_done" LOC = K12;
NET "tx_done" IOSTANDARD = LVCMOS33;

NET "rx_done" LOC = K11;
NET "rx_done" IOSTANDARD = LVCMOS33;

NET "baud_rate_sel" LOC = K13;
NET "baud_rate_sel" IOSTANDARD = LVCMOS33;

NET "dout<0>"   LOC = P11 | IOSTANDARD = LVCMOS33; #LEDS
NET "dout<1>"   LOC = P12 | IOSTANDARD = LVCMOS33;  
NET "dout<2>"   LOC = N12 | IOSTANDARD = LVCMOS33;  
NET "dout<3>"   LOC = P13 | IOSTANDARD = LVCMOS33;  
NET "dout<4>"   LOC = N14 | IOSTANDARD = LVCMOS33;  
NET "dout<5>"   LOC = L12 | IOSTANDARD = LVCMOS33;
NET "dout<6>"   LOC = P14 | IOSTANDARD = LVCMOS33; 
NET "dout<7>"   LOC = K12 | IOSTANDARD = LVCMOS33;  